*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #F9FAFC;
}

.hoja1{
   
    padding-top: 4em;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bxt{
    
    padding-top: 8em;
}

.titulo{
display: flex;
align-items: center;
justify-content: center;
font-size: 3rem;
letter-spacing: 2px;

}

.bxp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.abajop{
    width: 26em;
    text-align: center;
    font-size: 1rem;
    color: gray;
   
}


.cualidades{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2.5em ;
}

.box{
  
    width: 19.5em;
    height: 13em;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #F9FAFC;
  border-radius: 11px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  margin-right: 2em;
  transition: all 300ms;
}

.box:hover{
    transform: scale(1.12);
    transition: 400ms;
}

.imgens{

width: 3.5em;
height: 3.5em;
padding-bottom: 1em;
}

.lett{
font-size: 1.8rem;
text-align: center;
letter-spacing: 0.5px;
}

.letp{
text-align: center;
color: gray;
font-size: 0.8rem;



width: 16em;
padding-top: 1.2em;

}

.letp2{
    text-align: center;
color: gray;
font-size: 0.8rem;
width: 17.5em;
padding-top: 1.2em;
}


.hoja2{
    padding-top: em;
  
   height: 80vh;
}

.titulog{
    
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    
}


.tmn{
    width: 29em;
    text-align: center;
}
.txtgi{
    
    color: gray;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


.productos{
    display: flex;
 margin-top: 3em;
   justify-content: center;

}

.tarjeta{
    /* background-color: pink; */
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.3);
    width: 16em;
    height: 18.5em;
    border-radius:10px;
    margin-top: 5em;
    
    position: relative;
}

.tarjetados{
    /* background-color: pink; */
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.3);
    width: 16em;
    height: 18.5em;
    border-radius:10px;
    margin-top: 5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    position: relative;
}



.circulo{
    border-radius: 20em;
    position: absolute;
    top: -4em;
    left: 7em;
    height: 9em;
    width: 9em;
    border: 13px solid #84B74E;
}

.prod{
 font-size: 1.8rem;
 letter-spacing: 0.8px;
 margin-bottom: 0.2em;
position: absolute;
bottom: 3em;
left: 0.6em;
   
}

.estrellas{
    position: absolute;
    top: 13em;
    left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.num{
    color: gray;
    font-size: 0.6rem;
    margin-left: 0.5em;
}
.precio{
    position: absolute;
    top: 10em;
    font-weight: bold;
    left: 0.7em;
    color: #84B74E;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.bolsa{
    background-color: #84B74E;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5em;
    border-radius:8px;
    cursor: pointer;


}

.bolsasa{
  background-color: transparent;
  width: 2.3em;
  height: 2.3em;
}

.bolas{
    
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
   
}

